{% extends 'base.html' %}

{% block title %} Home di {{ user.username }} {% endblock %}

{% block header1 %}
  <h1>Home di {{ user.username }} </h1>
  <p>Benvenuto
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
        <br>
        Wait a minute, who are you?
    {% endif %}
  </p>
{% endblock %}

{% block content %}
  <h2> Vediamo se ci azzecco, la sfera di cristallo dice che hai comprato: </h2>

  <br>

  <!-- Iterate over Acquisto objects for the current user -->
  {% for acquisto in user.acquisti.all %}
    <div class="card">
      <div class="card-header">
         Acquisto con id {{ acquisto.pk }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ acquisto.foto.name }}</h5>
        <p class="card-text">Una foto di {{ acquisto.foto.artist.username }} </p>
        <p class="card-text">Materiale: {{ acquisto.get_materiale_display }}</p>
        <p class="card-text">Dimensioni: {{ acquisto.get_dimensioni_display }}</p>

        <!-- Add a link to manage the acquisto, replace 'your_url_name' with your actual URL name -->
        <!--
        <a href="{ url 'your_url_name' acquisto.pk %}" class="btn btn-info"> Gestisci Acquisto </a>
        -->

      </div>
    </div>
    <br>
  {% endfor %}

  <br>

{% endblock %}
